.category {
  display: grid;
  height: 70px;
}

.category div {
  display: flex;
  padding-left: 30%;
  align-items: center;
  justify-content: start;
  background: #7d7c8f;
  color: white;

}

.category div:hover {
  background: #4b4b52;
  color: white;
}
