<div>
    <app-header>
    </app-header>
    <div class="content" >
        <app-categories>

        </app-categories>


        <div class="menu">
            <div class="edit" [routerLink]="'/edit/' + task.id">
                Edit task
            </div>
            <div class="delete" (click)="delete()" [routerLink]="'/tasks'">
                Delete
            </div>
            <div class="back" [routerLink]="'/tasks'">
                Back to all tasks
            </div>
        </div>
        <div class="tasks">
            <div class="taskInfo">
                <div>Category</div>
                <div>Task</div>
                <div>Deadline</div>
                <div>Completed</div>
            </div>

            <div class="task">
                <div>
                    {{task.category.value}}
                </div>
                <div>
                    {{task.text}}
                </div>
                <div>
                    <div *ngIf="task.deadline; else nullValue">
                        {{task.deadline}}
                    </div>
                </div>
                <div>
                    <div *ngIf="task.completed; else complete">
                        {{task.completed}}
                        <div>
                            <button class="submit-button" (click)="uncheck()">Undo</button>
                        </div>
                    </div>
                </div>
                <ng-template #nullValue>
                    -
                </ng-template>
                <ng-template #complete>
                    <div>
                        <button class="submit-button" (click)="check()">Done</button>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</div>
