.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
}

fa-icon {
  color: #c2812e;
  font-size: xx-large;
}

.menu, .exit {
  display: flex;
  justify-content: center;
  align-items: center;
}

.exit {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
}

.menu {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

fa-icon:hover {
  color: #e8983d;
  font-size: xx-large;
  background-color: #c1c1c1;
  padding: 10px;
  border-radius: 5px;
}

.container {
  margin-top: -10px;
  display: grid;
  grid-template-columns: 12vw 12vw 12vw 12vw 12vw;
  grid-template-rows: 100px auto;
  background-color: #e0e0e0;
  height: 120vh;
  width: 60vw;
}

.tab {
  grid-row-start: 1;
  grid-row-end: 2;
}

.tab {
  display: flex;
  justify-content: center;
  align-items: center;
}

.component-container {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: 6;
  display: flex;
  justify-content: center;
}

router-outlet {
  display: none;
}

