<div class="overlay">
    <div class="auth-container">
        <p>Authenticate</p>
        <form class="auth-form" (ngSubmit)="authenticate()">
            <input type="text" placeholder="login" [(ngModel)]="verifiableAuthenticationUser.login" name="login">
            <input type="password" placeholder="password" [(ngModel)]="verifiableAuthenticationUser.password"
                   name="password">
            <div class="sign-up"><a [routerLink]="'/register'">Sign up</a> if
                not yet registered</div>
            <button class="submit-button" type="submit">Sign in</button>
        </form>
    </div>
</div>
