.container {
  display: grid;
  width: 100vw;
  grid-template-columns: repeat(12, 1fr);
}

.start {
  background: #7d7c8f;
  grid-column: 1/3;
}

.todolist {
  background: #ffffff;
  color: black;
  font-size: 40px;
  font-family: "Calisto MT";
  grid-column: 5/8;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  background: white;
  color: black;
  grid-column: 8/13;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .logout {
    display: grid;
    height: 70px;
    align-items: center;
    padding: 20px;
    justify-content: center;
    text-align: center;
  }

  .logout:hover {
    border-radius: 75px;
    background: #c9c7db;
  }
}
