.container {
  display: grid;
  width: 100vw;
  grid-template-columns: repeat(12, 1fr);
}

.todolist {
  background: whitesmoke;
  color: black;
  grid-column: 1/3;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  background: #70e4ff;
  color: black;
  grid-column: 3/13;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  a {
    padding-right: 20px;
  }

  a:hover {

  }
}
