<div>
    <app-header>
    </app-header>
    <div class="content">
        <div class="categories" *ngIf="categories">
            <app-category *ngFor="let category of categories" [category]="category">
            </app-category>
            <div class="add" [routerLink]="'/addCategory'">Add category</div>
        </div>

        <div class="menu">
            <div class="back" [routerLink]="'/tasks'">
                Back to all tasks
            </div>
        </div>
        <div class="add">
            <form class="adding-category-form">
                <p>Enter category name</p>
                <input type="text" placeholder="text" [(ngModel)]="newCategory.value" name="value">
                <br/>
                <button class="button" type="submit" (click)="create()">Create</button>
            </form>
        </div>
    </div>
</div>
