<div>
  <app-header>
  </app-header>
  <div class="content">
    <app-categories>

    </app-categories>
    <div class="menu">
      <div class="back" [routerLink]="'/tasks'">
        Back to all tasks
      </div>
    </div>
    <div class="edit">
      <form (ngSubmit)="create()">
        <p>Enter new information</p>

        <div class="text">
          <p>Text:</p>
          <input type="text" placeholder="text" [(ngModel)]="newTask.text" name="text">
        </div>
        <div class="complete">
          <p>Сomplete date:</p>
          <label>
            <input type="datetime-local" [value]="newTask.deadline"
                   (change)="newTask.deadline=$event.target.value"
                   name="deadline">
          </label>
        </div>
        <div class="category">
          <p>Category:</p>
          <div class="select-wrapper">
            <label>
              <select [(ngModel)]="newTask.category" name="category-form">
                <option *ngFor="let category of categories"
                        [value]="category.value">{{category.value}}</option>
              </select>
            </label>
          </div>
        </div>
        <button class="submit-button" type="submit">Create</button>
      </form>
    </div>
  </div>
</div>
