.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: white;
}

.register-container {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(38, 38, 38, 0.11);
  padding: 25px;
}

.register-form {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: black;
  margin-left: 0;
}

* {
  margin: 5px;
  font-family: Arial, serif;
  font-size: 20px;
}

button {
  border-radius: 20px;
  border: none;
  color: white;
  background: #a3a3a3;
  padding: 10px;
  font-family: Arial, serif;
  font-size: 20px;
}

button:hover {
  background: #c9c9c9;
  color: black;
}
